{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <form action="{{ path('admin_formbuilder_formbuilder_recipient_create') }}"  method="post">
        <div class="form-group">
            <label>Nom *</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>Email *</label>
            <input type="text" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    </form>
{% endblock %}