{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {#{{ admin.generateUrl('clone',{id : object.id}) }}#}
    <a href="{{ admin.generateUrl('clone',{id : object.id}) }}">Dupliquer</a>
    {% set url =  admin.generateUrl('changeStatus',{id : object.id}) %}
    {% if object.status == 1 %}
        <a href="{{url }}">Désactiver</a>
        {% else %}
            <a href="{{ url }}">Publié</a>
    {% endif %}
    <a href="{{ admin.generateUrl('delete',{id : object.id}) }}">Supprimer</a>
{% endblock %}