{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
    <form action="{{ path('admin_formbuilder_formbuilder_form_create') }}"  method="post">
        <div class="form-group">
            <label>Nom du formulaire *</label>
            <input type="text" class="form-control" name="form_name">
            <input type="hidden" name="fields" id="fields">
        </div>
        <div class="form-group">
            <label>Déstinataires</label>
            {% for recipient in recipients %}
                <div class="checkbox">
                    <label>
                        <input name="recipients[]" type="checkbox" value="{{ recipient.id }}">
                        {{ recipient.name }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div id="fields-box"></div>
        <button type="submit" id="save" class="btn btn-primary">Sauvegarder</button>
    </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
        <script>
            var formBuilder = $('#fields-box').formBuilder({
                i18n: {
                    locale: 'fr-FR'
                }
            });
            $('form').submit(function () {
                $("#fields").val(formBuilder.actions.getData('json'));
            })
        </script>
{% endblock %}